[Desktop Entry]
Version=1.0
Name=beings
Comment=Scaleable multibeings simulator with individual AI.
Icon=icon
Exec=beings
Terminal=true
Type=Application
Categories=Game;

