[Desktop Entry]
Version=1.0
Name=textmode-lifestyle
Comment=Scaleable text-mode intro demo for the Linux terminal.
Icon=icon
Exec=textmode-lifestyle
Terminal=true
Type=Application
Categories=Game;

